@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'EB Garamond', serif;
  src: url('https://fonts.googleapis.com/css2?family=EB+Garamond:display=swap');
}

@font-face {
  font-family: 'Dolce';
  src: local('Dolce'), url("../fonts/Dolce Vita Heavy Bold.ttf") format('truetype');
}

body {
  background-color: black;
  height: 100vh;  
  margin: 0px;
  overflow: hidden;
  font-family: 'EB Garamond', serif;
}

.Dolce {
   font-family: 'Dolce';
}

#gallery {
  height: 140vmax;
  width: 150vmax;  
  position: absolute;
}

.tile {
  position: absolute;
  transition: transform 800ms ease;
}

.tile:hover {
  transform: scale(1.05);
  filter: blur(0px);

}

.tile > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  opacity: 1;
  transition: opacity 800ms ease,
    transform 800ms ease;
}

.tile {
  filter: blur(15px);
  transition: all 0.5s;
}

.tile:nth-child(1) {
  left: 5%;
  top: 5%;
  height: 15%;
  width: 20%;
}

.tile:nth-child(2) {
  left: 35%;
  top: 15%;
  height: 25%;
  width: 30%;
}

.tile:nth-child(3) {
  right: 5%;
  top: 8%;
  height: 15%;
  width: 20%;
}

.tile:nth-child(4) {
  left: 5%;
  top: 30%;
  height: 15%;
  width: 20%;
}

.tile:nth-child(5) {
  left: 42.5%;
  top:  47.5%;
  height: 15%;
  width: 25%;
}

.tile:nth-child(6) {
  right: 5%;
  top: 30%;
  height: 31.5%;
  width: 20%;
}

.tile:nth-child(7) {
  left: 5%;
  top: 55%;
  height: 15%;
  width: 30%;
}

.tile:nth-child(8) {
  left: 5%;
  bottom:0%;
  height: 20%;
  width: 25%;
}

.tile:nth-child(9) {
  left: 37.5%;
  bottom: 5%;
  height: 20%;
  width: 30%;
}

.tile:nth-child(10) {
  right: 5%;
  bottom: 10%;
  height: 20%;
  width: 20%;
}

.tile:nth-child(11) {
  right: 5%;
 top: 5%;
}

.main-title {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  mix-blend-mode: difference;
  z-index: 99;
  color: white;
  position: absolute;
  pointer-events: none
}

.main-title h1{
height: fit-content;
text-align: center;
}